{% extends "main.twig" %}
{% block content %}
    <!--Div for Background-->
    <div class="bg text-center">
        <!--Div for Centered Text & Input-->
        <div class="centered">
            <p class="firstLine"> I &nbsp; N &nbsp; V &nbsp; E &nbsp;
                N &nbsp; T &nbsp; O &nbsp; R &nbsp; Y &nbsp; . &nbsp; C &nbsp; O &nbsp; M </p>
            <p class="secondLine">Log in to manage Product Catalog</p>

            <form method="post" action="/catalog">
                <label for="username"> </label>
                <p><input type="text" id="username" name="username" class="InputStyle"
                          placeholder="Username" required></p>
                <label for="password"> </label>
                <p><input type="password" id="password" name="password" class="InputStyle"
                          placeholder="Password" required></p>
                <p><input type="submit" class="button1" value="Sign In"> <a href="/register">
                        <button class="button1" type="button">New User</button>
                    </a></p>
            </form>


        </div>
        <!--Div for bottom Icons-->

    </div>
{% endblock %}