{% extends "app.twig" %}
{% block content %}

    <div class="bg text-center">
        <div class="container">
            <p class="secondLine">Create New Tag</p>

            <form method="post" action="/catalog/tag">
                <p><a href="/catalog/add">
                        <button class="button2" type="button"><-</button>
                    </a>
                    <input type="submit" class="button1" value="Save"></p>
                <label for="title"> </label><input type="text" id="title" name="title"
                                                   class="InputStyle" required>
            </form>
        </div>

    </div>

{% endblock %}
