{% extends "main.twig" %}
{% block content %}
    <!--Div for Background-->
    <div class="bg text-center">
        <!--Div for Centered Text & Input-->
        <div class="centered">
            <p class="firstLine"> I &nbsp; N &nbsp; V &nbsp; E &nbsp;
                N &nbsp; T &nbsp; O &nbsp; R &nbsp; Y &nbsp; . &nbsp; C &nbsp; O &nbsp; M </p>
            <p class="secondLine">Worlds Best Product Catalog Manager</p>

            <a href="/login">
                <button class="button" type="button">Sign in</button>
            </a>
        </div>

    </div>
{% endblock %}