.button {
    transition-duration: 0.4s;
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 8px;
    padding: 16px 32px;
}

.button:hover {
    background-color: darkslateblue;
    color: white;
}

.button1 {
    transition-duration: 0.4s;
    background-color: lightgrey;
    color: black;
    border: 2px solid #555555;
    border-radius: 8px;
    padding: 2px 20px;
}

.button1:hover {
    background-color: darkslateblue;
    color: white;
}

.button2 {
    transition-duration: 0.4s;
    background-color: grey;
    color: white;
    border: 2px solid #555555;
    border-radius: 8px;
    padding: 2px 20px;
}

.button2:hover {
    background-color: seagreen;
    color: white;
}

.bg {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url(http://i.imgur.com/w16HASj.png);
    background-size: 100% 100%;
    background-position: top center
}

.content {
    margin-top: 20%
}


.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.InputStyle {
    border-radius: 25px;
    border: solid 1px white;
    background: transparent;
    width: 300px;
    padding: 10px 20px
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    color: white
}

.social-btn {
    position: absolute;
    bottom: 20px;
    left: 47%
}

i {
    padding: 5px;
    color: white
}

input,
input:focus {
    border: solid 1px white;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: nones;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.secondLine {
    font-weight: 350;
    font-size: 15px;
    color: white
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}

.firstLine {
    font-size: 30px;
    color: white
}

@media only screen and (max-width: 600px) {
    .firstLine {
        font-size: 20px
    }
}

